desktop/code/download.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    <meta name="author" content="Libris">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Clique</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="dist/css/all.min.css"><!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
<![endif]-->
    <script src="dist/js/libs/jquery.min.js"></script>
    <script src="dist/js/specific/app.js"></script>
  </head>
  <body>
        <div class="b-nav">
          <div class="b-nav__inner"><a class="b-nav__title" href="index.html">
              <div class="b-nav__title-text">C</div>
              <div class="b-nav__title-subtext"> Dev</div></a>
            <div class="b-nav__nav">
              <div class="b-nav__nav-item"><a class="b-nav__link b-nav__link_document" href="index.html"></a></div>
              <div class="b-nav__nav-item"><a class="b-nav__link b-nav__link_rocket" href="#!"></a></div>
              <div class="b-nav__nav-item"><a class="b-nav__link b-nav__link_code" href="#!"></a></div>
              <div class="b-nav__nav-item b-nav__nav-item_last"><a class="b-nav__link b-nav__link_download" href="download.html"></a></div>
            </div>
          </div>
        </div>
    <div class="l-content-wrapper l-content-wrapper_nav c-scroll">
      <div class="l-content-wrapper__item l-content-wrapper__item_major">
        <div class="b-content">
          <div class="-ol-container">
            <h1>Download</h1>
            <p>Caw.me has an integration with <em>Slack</em> that allows you to launch HD conferences in your chat. Type in the command <strong>/voice</strong> to start a conference on any device.</p>
            <ul class="b-link-list -ol-row">
              <div class="-ol-col-4">
                <li class="b-link-list__item">
                  <div class="l-cell">
                    <div class="l-cell__item">
                      <div class="b-link-list__title">Prod</div>
                    </div>
                  </div><a class="b-link-list__link">Copy</a>
                </li>
              </div>
              <div class="-ol-col-4">
                <li class="b-link-list__item">
                  <div class="l-cell">
                    <div class="l-cell__item">
                      <div class="b-link-list__title">Stage</div>
                    </div>
                  </div><a class="b-link-list__link">Copy</a>
                </li>
              </div>
              <div class="-ol-col-4">
                <li class="b-link-list__item">
                  <div class="l-cell">
                    <div class="l-cell__item">
                      <div class="b-link-list__title">Test</div>
                    </div>
                  </div><a class="b-link-list__link">Copy</a>
                </li>
              </div>
            </ul>
            <ul class="b-link-list b-link-list_last -ol-row">
              <div class="-ol-col-4">
                <li class="b-link-list__item">
                  <div class="l-cell">
                    <div class="l-cell__item">
                      <div class="b-link-list__title">Dev</div>
                    </div>
                  </div><a class="b-link-list__link">Copy</a>
                </li>
              </div>
              <div class="-ol-col-4">
                <li class="b-link-list__item">
                  <div class="l-cell">
                    <div class="l-cell__item">
                      <div class="b-link-list__title">App Store</div>
                    </div>
                  </div><a class="b-link-list__link">Copy</a>
                </li>
              </div>
              <div class="-ol-col-4">
                <li class="b-link-list__item">
                  <div class="l-cell">
                    <div class="l-cell__item">
                      <div class="b-link-list__title">Play Market</div>
                    </div>
                  </div><a class="b-link-list__link">Copy</a>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

desktop/code/app/pug/download.pug
extends extends/layout


block content

	+b-nav( 'Download' )

	.l-content-wrapper.l-content-wrapper_nav.c-scroll

		.l-content-wrapper__item.l-content-wrapper__item_major

			.b-content

				.-ol-container

					h1 Download

					p Caw.me has an integration with #[em Slack] that allows you to launch HD conferences in your chat. Type in the command #[strong /voice] to start a conference on any device.



					ul.b-link-list.-ol-row

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Prod

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Stage

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Test

								a.b-link-list__link Copy

					ul.b-link-list.b-link-list_last.-ol-row

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Dev

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title App Store

								a.b-link-list__link Copy

						.-ol-col-4

							li.b-link-list__item

								.l-cell
									.l-cell__item

										.b-link-list__title Play Market

								a.b-link-list__link Copy



block append scripts

	script(
		src="dist/js/specific/app.js" )
